*{
  margin: 0;
  padding: 0;
}

.modal {
  display: none;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  margin: 10% auto;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #faf9f6;
}

.modal-header {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.form-input {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}